.h1 { @extend h1; }
.h2 { @extend h2; }
.h3 { @extend h3; }
.h4 { @extend h4; }
.h5 { @extend h5; }
.h6 { @extend h6; }

.subtitle {
  @include font-cursive;
  display: block;
  font-size: 1.2em;
  &:last-child {
    margin-bottom: 0;
  }
}

h1, h2, h3, h4, h5, h6 {
  color: var(--title);
}
.subtitle {
  color: var(--subtitle);
}