{{/*
  Example:
  {{ partial "components/image" (dict
    "class" "article__image"
    "src" .Params.image
    "alt" "holi"
    "container" "sm"
    "span" 4
    "max" 144
    "notlazy" false
  ) }}
*/}}

{{- if .src -}}
  {{- $mute := cond (in .src "#mute") true .bg -}}
  {{- if strings.HasPrefix .src "http" -}}
    {{- if .src | findRE `\.(mp4|mov|avi|webm)` -}}
      {{- $src    := .src | replaceRE `.poster\=([\w\d\.-]+)|\#mute` `` -}}
      {{- $poster := "" -}}
      {{ if in .src "poster=" }}
        {{- $poster = print "/media/" (.src | replaceRE `^.+?poster\=([\w\d\.-]+).*$` `$1`) -}}
      {{ end }}
      {{- with resources.Get $poster }}
        {{- if hugo.IsProduction }}
          {{- $file  := $poster | replaceRE `(.+)\..+` `$1` -}}
          {{- $poster = .Resize (print .Width "x" " webp") -}}
          {{- $poster = $poster | resources.Copy (print $file `-` .Width `x` .Height `.webp`) -}}
          {{- $poster = $poster.RelPermalink -}}
        {{ else }}
          {{- $poster = .RelPermalink -}}
        {{ end }}
      {{ else }}
        {{- $poster = "" -}}
      {{ end }}
      <video
        {{ with .class }} class="{{ . }}"{{ end }}
        {{- if .notlazy | and $mute }} muted loop autoplay playsinline
        {{- else }} preload="none" {{- if $mute }} data-mute{{ else }} controls{{ end }}
        {{- end }}
        {{- with $poster }} poster="{{ . }}"{{ else }} poster="data:image/svg+xml;base64,
          {{- `<svg width='100%' height='100%' viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'><style>path{transform-origin:center}path:nth-child(2){animation:spin 2s linear infinite}path:nth-child(3){animation:spin calc(2s * 12) linear infinite}@keyframes spin{to{transform:rotate(360deg)}}</style><g fill='none' stroke='gray' stroke-width='1' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10'><circle cx='8' cy='8' r='7.5'/><path d='M8 3 V8'/><path d='M8 8 L10 10'/></g></svg>` | base64Encode -}}
          "
        {{- end -}}
      >
        <source src="{{ $src }}" type="video/{{ $src | replaceRE `^.+\.([\w\d]+)$` `$1` }}">
      </video>
    {{- else if .src | findRE `youtu\.be|youtube\.com` -}}
      <iframe
        {{ with .class }} class="{{ . }}" {{ end }}
        width="560"
        height="315"
        loading="lazy"
        data-src="{{ partial `functions/iframe-src` (dict `src` .src `bg` .bg) }}"
        title="{{ with .alt }}{{ . }}{{ else }}{{ i18n `video` }} · Youtube{{ end }}"
        allow="accelerometer clipboard-write; encrypted-media; gyroscope; picture-in-picture {{- if $mute }}; autoplay; loop; mute{{ end }}"
        allowfullscreen
      ></iframe>
    {{- else if in .src `vimeo.com` -}}
      {{- $id := .src | replaceRE `^.+?com/(.+?)(\?|$).*` `$1` -}}
      <iframe
        {{ with .class }} class="{{ . }}" {{ end }}
        width="640"
        height="360"
        loading="lazy"
        data-src="{{ partial `functions/iframe-src` (dict `src` .src `bg` .bg) }}"
        title="{{ with .alt }}{{ . }}{{ else }}{{ i18n `video` }} · Vimeo{{ end }}"
        allow="fullscreen {{- if $mute }}; autoplay; loop; muted{{ end }}"
        allowfullscreen
      ></iframe>
    {{- else -}}
      <picture
        {{- with .class }} class="{{ . }}" {{ end -}}
        {{- with .iframe_src }} data-iframe="{{ . }}"{{ end -}}
      >
        <img
          src="{{ .src | safeURL }}"
          {{- if .alt }}
            alt="{{ .alt }}"
          {{- else }}
            alt="{{ .src | replaceRE `^http.+/(.*)$` `$1` | replaceRE `(\?|\&|\=)` ` ` | replaceRE `^(.+)\..*$` `$1` }}"
          {{- end }}
          decoding="async"
          {{- if not .notlazy }} loading="lazy"{{ end -}}
        />
      </picture>
    {{- end -}}
  {{- else -}}
    {{- $src := print "/media/" .src -}}
    {{- if .src | findRE `\.(mp4|mov|avi|webm)` -}}
      {{- $path := $src | replaceRE `[\#\&\?].*$` `` -}}
      {{- $src   = resources.Get $path -}}
      {{- $mp4  := "" -}}
      {{- $webm := "" -}}
      {{- if not (in .src ".webm") -}}
        {{- $mp4  = $src.RelPermalink -}}
        {{- with resources.Get ($path | replaceRE `\.(mp4|mov|avi)$` `.webm`) -}}
          {{- $webm = .RelPermalink -}}
        {{- end -}}
      {{- else -}}
        {{- with $src -}}
          {{- $webm = .RelPermalink -}}
        {{- end -}}
      {{- end -}}
      {{- $t := "" -}}
      {{- if in .src `t=` -}}
        {{- $t = print "#" (.src | replaceRE `^.+?(t\=[\d-,\.]+).*$` `$1`) -}}
      {{- end -}}
      {{- $poster := "" -}}
      {{- if in .src "poster=" -}}
        {{- $poster = print "/media/" (.src | replaceRE `^.+?poster\=([\w\d\.-]+).*$` `$1`) -}}
      {{- else -}}
        {{- range (slice "jpg" "jpeg" "png" "gif" "webp" "svg") -}}
          {{- $file  := $path | replaceRE `^(.+)\..+$` (print `$1.` .) -}}
          {{- $asset := print "assets" $file -}}
          {{- if fileExists $asset -}}
            {{- $poster = $file -}}
          {{- end -}}
        {{- end -}}
      {{- end -}}
      {{- with resources.Get $poster }}
        {{- if hugo.IsProduction }}
          {{- $file  := $poster | replaceRE `(.+)\..+` `$1` -}}
          {{- $poster = .Resize (print .Width "x" " webp") -}}
          {{- $poster = $poster | resources.Copy (print $file `-` .Width `x` .Height `.webp`) -}}
          {{- $poster = $poster.RelPermalink -}}
        {{ else }}
          {{- $poster = .RelPermalink -}}
        {{ end }}
      {{ else }}
        {{- $poster = "" -}}
      {{ end }}
      <video
        {{- with .class }} class="{{ . }}" {{ end -}}
        width="560"
        height="315"
        {{- if .notlazy | and $mute }} muted loop autoplay playsinline
        {{- else }} preload="none" {{- if $mute }} data-mute{{ else }} controls{{ end }}
        {{- end }}
        {{- with $poster }} poster="{{ . }}"{{ end -}}
      >
        {{- with $webm -}}
          <source src="{{ $webm }}{{ $t }}" type="video/webm">
        {{- end -}}
        {{- with $mp4 -}}
          <source src="{{ . }}{{ $t }}" type="video/{{ . | replaceRE `^.+\.(.+)$` `$1` }}">{{/*  "; codecs="hvc1""  */}}
        {{- end -}}
      </video>
    {{- else if in .src ".svg" -}}
      {{- $file           := .src | replaceRE `#.*$` `` -}}
      {{- $src             = resources.Get (print "/media/" $file) -}}
      {{- if $src -}}
        {{- $svg          := $src.Content | replaceRE `\n` `` -}}
        {{- $svg_head     := index ($svg  | findRE `^<svg.*?>`) 0 -}}
        {{- $svg_width    := $svg_head    | findRE ` width="(.+?)"` -}}
        {{- $svg_height   := $svg_head    | findRE ` height="(.+?)"` -}}
        {{- $svg_not_size := false -}}
        {{- if $svg_width | and $svg_height -}}
          {{- $svg_width   = index $svg_width 0  | replaceRE  ` width="|"` `` -}}
          {{- $svg_height  = index $svg_height 0 | replaceRE ` height="|"` `` -}}
        {{- else -}}
          {{- $view_box  := $svg_head
            | replaceRE
              `.*?viewBox="([\d\.-]+) ([\d\.-]+) ([\d\.-]+) ([\d\.-]+)".*`
              `$1,$2,$3,$4`
          -}}
          {{- $view_box_split := split $view_box "," -}}
          {{- $svg_width       = sub (float (index $view_box_split 2)) (float (index $view_box_split 0)) | int -}}
          {{- $svg_height      = sub (float (index $view_box_split 3)) (float (index $view_box_split 1)) | int -}}
          {{- $svg_not_size    = true -}}
        {{- end -}}
        {{- if $svg | findRE `svg-src|animat|xlink|</linearGradient>|</style>` | or (in .src "#src") -}}
          {{- if .svg_src | or ($svg | findRE `svg-src`) | or (in .src "#src") -}}
            {{- $svg_minify := ($src | minify).Content -}}
            {{- if $svg_not_size -}}
              {{- $svg_minify = replace $svg_minify "<svg" (print `<svg width="` $svg_width `" height="` $svg_height `"`) -}}
            {{- end -}}
            {{- $svg_src := ($svg_minify | resources.FromString (print `/media/` $file | replaceRE `\.svg$` `.min.svg`)).RelPermalink -}}
            <img
              {{ with .class }} class="{{ . }}"{{ end }}
              src="{{ ($svg_minify | resources.FromString $svg_src).RelPermalink | safeURL }}"
              alt="{{ if .alt }}{{ .alt }}{{ else }}{{ $file | replaceRE `^(.+)\..*$` `$1` }}{{ end }}"
              width="{{ $svg_width }}"
              height="{{ $svg_height }}"
              decoding="async"
              loading="lazy"
            />
          {{- else -}}
            {{- $svg = readFile (print "/assets/media/" $file) -}}
            {{- if not ($svg_head | findRE ` viewBox=`) -}}
              {{- $svg = replace $svg "<svg" (print "<svg viewBox='0 0 " $svg_width " " $svg_height "'") -}}
            {{- end -}}
            {{- if not ($svg_head | findRE ` width=`) -}}
              {{- $svg = replace $svg "<svg" (print "<svg width='" $svg_width "'") -}}
            {{- end -}}
            {{- if not ($svg_head | findRE ` height=`) -}}
              {{- $svg = replace $svg "<svg" (print "<svg height='" $svg_height "'") -}}
            {{- end -}}
            {{- if .class -}}
              {{- $svg = replace $svg "<svg" (print "<svg class='" .class "'") -}}
            {{- end -}}
            {{- $svg | safeHTML -}}
          {{- end -}}
        {{- else -}}
          <svg {{- with .class }} class="{{ . }}"{{ end }} width="{{ $svg_width }}" height="{{ $svg_height }}"><use xlink:href="/draws.svg#{{ $file | replaceRE `\.svg` `` }}"></use></svg>
        {{- end -}}
      {{- end -}}
    {{- else -}}

      {{- $image     := resources.Get $src -}}
      {{- $image_img := $image -}}
      {{- $image_min := $image -}}
      {{- if $image -}}
        <picture
          {{- with .class }} class="{{ . }}"{{ end }}
          {{- with .iframe_src }} data-iframe="{{ . }}"{{ end }}
          {{- if $image | findRE `\.jpe?g$`  -}}
            {{- with (resources.Get $image_min).Colors -}}
              {{- $colors := cond (eq (len .) 1) (slice (index . 0) `transparent`) . -}}
              style="--pre-bg:linear-gradient({{ delimit $colors `,` }})"
            {{- end -}}
          {{- end -}}
        >

          {{- if hugo.IsProduction -}}

            {{/*  CONTAIN  */}}
            {{- if not .contain -}}
              {{- with .ratio -}}
                {{- if ne . "normal" -}}
                  {{- $ratio        := cond (eq "circle" .) "1x1" . -}}
                  {{- $ratio         = split $ratio "x" -}}
                  {{- $width_aim    := index $ratio 0 | float -}}
                  {{- $height_aim   := index $ratio 1 | float -}}
                  {{- $ratio_aim    := div $height_aim $width_aim -}}
                  {{- $width_image  := $image.Width   | float -}}
                  {{- $height_image := $image.Height  | float -}}
                  {{- $ratio_image  := div $height_image $width_image -}}
                  {{- if ne $ratio_image $ratio_aim -}}
                    {{- if gt $ratio_image $ratio_aim -}}
                      {{- $image = $image.Fill (print $width_image "x" (mul $width_image $ratio_aim | int) " Center") -}}
                    {{- else -}}
                      {{- $image = $image.Fill (print (div $height_image $ratio_aim | int) "x" $height_image " Center") -}}
                    {{- end -}}
                  {{- end -}}
                {{- end -}}
              {{- end -}}
            {{- end -}}

            {{- $sizes       := slice -}}
            {{- $srcsizes    := slice -}}
            {{- $srcset      := slice -}}
            {{- $src_reverse := false -}}

            {{/*  SIZES  */}}
            {{- if .max -}}

              {{- if gt $image.Width .max -}}
                {{- $sizes = slice .max -}}
              {{- else -}}
                {{- $sizes = slice $image.Width -}}
              {{- end -}}

            {{- else if gt $image.Width 320 -}}

              {{/*
                problems
                  background images (sections and columns items)
                  span with grow (columns items image)
              */}}

              {{- $span              := .span | default 1 -}}
              {{- $container_sizes   := dict "xs" 500 "sm" 720 "md" 960 "lg" 1164 "xl" 1404 "fluid" 1440 -}}
              {{- $container         := .container | default `fluid` -}}
              {{- $container_max     := index $container_sizes $container -}}
              {{/*  {{ $screens := slice 375 425 800 1024 1200 }}  */}}
              {{- $screens           := slice 425 800 1200 -}}
              {{- if gt $span 2 -}}
                {{- $screens          = slice 375 800 1200 -}}
              {{- end -}}
              {{- if eq $container "fluid" -}}
                {{- $screens          = $screens | append 1440 -}}
              {{- end -}}
              {{- $screen_min        := 320 -}}
              {{- $screen_max        := 1200 -}}
              {{- $size_min          := 320 -}}
              {{- if .num_xs -}}
                {{- $size_min         = 160 -}}
              {{- end -}}
              {{- $size_max          := (div $container_max $span) | int -}}

              {{- $sizes_base        := slice -}}
              {{- range $screens -}}
                {{- $size            := 0 -}}
                {{- if eq $container "fluid" -}}
                  {{- $size           = div . $span -}}
                {{- else -}}
                  {{/*  y = y1 + ( ((y2 - y1) * (x - x1)) / (x2 - x1) )  */}}
                  {{- $size           = add $size_min (div (mul (sub $size_max $size_min) (sub . $screen_min)) (sub $screen_max $screen_min)) -}}
                {{- end -}}
                {{- $sizes_base       = $sizes_base | append (dict "size" $size "screen" .) -}}
              {{- end -}}

              {{/*  if first > last  */}}
              {{- if gt (index $sizes_base 0).size (index (last 1 $sizes_base) 0).size -}}
                {{- $src_reverse      = true -}}
                {{- $sizes_base       = $sizes_base | append (dict "size" 320 "screen" 320) -}}
              {{- end -}}

              {{- $size_prev         := 10000 -}}
              {{- $image_next        := 0 -}}
              {{- $sizes_base_sort   := (sort $sizes_base "size" "desc") -}}
              {{- range $key, $value := $sizes_base_sort -}}

                {{- $size            := .size -}}
                {{- $image_size      := div $image.Width 2 -}}

                {{/*  size = image_size only if size > image_size > next_size  */}}
                {{- if le $image_size .size -}}
                  {{- $size_next     := (index $sizes_base_sort (add $key 1)).size | default 0 -}}
                  {{- if ge $image_size $size_next -}}
                    {{- $image_next   = add $image_next 1 -}}
                    {{- if eq $image_next 1 -}}
                      {{- $size       = $image_size -}}
                    {{- end -}}
                  {{- end -}}
                {{- end -}}

                {{/*  set size only if diference between size and size_prev is bigest that 100px  */}}
                {{- $is_size_far_prev := lt (sub $size $size_prev) (div -100 2) -}}

                {{- if ge $image_size $size | and $is_size_far_prev -}}
                  {{/*  each size here is a object  */}}
                  {{- $sizes           = $sizes | append (dict "size" (mul $size 2 | int) "screen" .screen) -}}
                  {{- $size_prev       = $size -}}
                {{- end -}}

              {{- end -}}

            {{- else -}}

              {{- $sizes               = slice $image.Width -}}

            {{- end -}}

            {{/*  SOURCE BY SIZES  */}}
            {{- if gt (len $sizes) 1 -}}

              {{/*  SRCSIZES AND SRCSET  */}}
              {{- range $key, $value    := sort $sizes "size" -}}
                {{- $srcsizes          = $srcsizes | append (print "(max-width:" .screen "px) " (div .size 2) "px") -}}
                {{- $image_resize     := $image.Resize (print .size "x webp") -}}
                {{- $image_resize      = $image_resize | resources.Copy (print ($src | replaceRE `(.+)\..+` `$1`) `-` .size `x` $image_resize.Height `.webp`) -}}
                {{- $srcset            = $srcset | append (print $image_resize.RelPermalink " " .size "w") -}}
                {{- if not $key -}}
                  {{- $image_min       = $image_resize -}}
                {{- end -}}
              {{- end -}}

              {{- $srcsizes            = delimit $srcsizes "," | replaceRE "\\(max-width:[0-9]+?px\\) ([0-9]+?px)$" "(all) $1" -}}
              {{- if $src_reverse -}}
                {{- $srcsizes          = $srcsizes | replaceRE "max" "min" -}}
              {{- end -}}
              {{- $srcset              = delimit $srcset "," -}}

            {{- else -}}

              {{/*  SRC  */}}
              {{- $image_width        := $image.Width -}}
              {{- if $sizes -}}
                {{- $image_width       = index $sizes 0 -}}
                {{/*  if is not a int > is a object  */}}
                {{- if ne (printf "%T" $image_width) "int" -}}
                  {{- $image_width     = $image_width.size -}}
                {{- end -}}
              {{- end -}}
              {{- $image_resize       := $image.Resize (print $image_width "x" " webp") -}}
              {{- $image_resize        = $image_resize | resources.Copy (print ($src | replaceRE `(.+)\..+` `$1`) `-` $image_width `x` $image_resize.Height `.webp`) -}}
              {{- $srcset              = print $image_resize.RelPermalink " " $image_width "w" -}}
              {{- $image_min           = $image_resize -}}
              {{- $srcsizes            = "100vw" -}}

            {{- end -}}

            <source type="image/webp"
              sizes="{{ $srcsizes }}"
              srcset="{{ $srcset }}"
              width="{{ $image.Width }}"
              height="{{ $image.Height }}"
            />

          {{- end -}}

          <img
            src="{{ $image_img.RelPermalink | safeURL }}"
            alt="{{ with .alt }}{{ . }}{{ else }}{{ .src | replaceRE `^(.+)\..*$` `$1` }}{{ end }}"
            width="{{ $image_img.Width }}"
            height="{{ $image_img.Height }}"
            decoding="async"
            {{ if not .notlazy }} loading="lazy" {{ end }}
          />
        </picture>
      {{- end -}}
    {{- end -}}
  {{- end -}}
{{- end -}}