.article {
  padding-top: calc(3em + var(--pt-divider-header, 0em));
}
.article__header {
  padding: 0 0 1em;
}
.article__title {
  font-size: fluid-size(2*16px, 2.5*18px);
  svg {
    color: var(--main);
    position: relative;
    top: 0.0625em;
  }
  a:not(:hover) {
    color: inherit;
  }
}
.article__title--section {
  display: flex;
  gap: .25em;
}
.article__figure {
  margin: 3em auto 0;
  filter: drop-shadow($shadow);
  animation: show-up 0.7s both;
}