.section--footer {
  position: relative;
  padding-top: var(--pt, 0px);
  padding-bottom: var(--pb, 5em);
  .social--follow {
    margin-bottom: 2em;
  }
  a,
  [data-h],
  [data-b] {
    &:not(:hover, button, .button) {
      color: inherit;
    }
    &:not(#aux) {
      @include font-base;
    }
  }
}
.footer__float {
  position: absolute;
  bottom: 1.5em;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 1em;
}