.logo {
  width: 100%;
  padding-top: fluid-size(16px * 4, 18px * 3);
  padding-bottom: 3em;
}
.logo__link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1em;
}
.logo__image {
  &, img {
    display: block;
    width: auto;
    max-width: 100%;
    max-height: 4em;
    height: 4em;
    fill: unset;
  }
}
.logo__titles {
  font-size: fluid-size(12px, 18px);
}
.logo__title {
  color: var(--main);
  + .logo__subtitle {
    margin-top: -.75em;
  }
}
.logo__subtitle {
  display: block;
  font-size: 1.2em;
  color: gray;
}
.body-menu--logo {
  --menu-py: .75em;
  .logo {
    position: sticky;
    top: 0;
    padding-block: var(--menu-py);
    transition: padding .3s;
    z-index: 190;
    filter: drop-shadow($shadow);
    &:before {
      content: '';
      position: absolute;
      left: -$shadow-left;
      width: $shadow-left;
      height: 100%;
      background-color: inherit;
    }
  }
  .logo__image {
    height: 2.25em;
    max-width: calc(100% - 4em);
  }
  .menu__toggle {
    top: 0.375em;
    @if not $buttons-3d {
      filter: none;
    }
  }
  &.body-menu--transparent {
    .logo {
      position: fixed;
      transition: background-color .3s, padding .3s, filter .3s;
    }
    .logo__image {
      transition: height .3s;
    }
    .menu__toggle {
      transition: transform .3s, filter .3s;
    }
    &.body-top {
      --menu-py: 2em;
      .logo {
        background-color: transparent;
        filter: none;
      }
      .logo__image {
        height: 2.75em;
      }
      .menu__toggle {
        transform: translateY(1.5em);
        @if not $buttons-3d {
          filter: drop-shadow($shadow);
        }
      }
    }
  }
  @if $screen-menu-sticky > 0px {
    @media (min-width: $screen-menu-sticky) {
      .logo {
        display: none;
      }
    }
  }
}