.menu__toggle {
  display: block;
  position: fixed;
  right: 1em;
  top: .75em;
  z-index: 220;
  @if not $buttons-3d {
    filter: drop-shadow($shadow);
  }
}
.menu__toggle-bar {
  position: absolute;
  display: block;
  height: $menu-bar-double;
  @if $icon-buttons-rounded and $chamfer {
    width: calc(100% - 1.5em);
    margin-left: .25em;
  } @else {
    width: calc(100% - 1.25em);
    margin-left: .125em;
  }
  margin-top: -$menu-bar;
  background-color: currentColor;
  @include radius(0em, $menu-bar);
  animation: menu-bar-2 .3s 0s both;
  &:nth-child(1) {
    animation-name: menu-bar-1;
  }
  &:nth-child(2) {
    animation-timing-function: step-start;
    @if $duotone {
      background-color: var(--dt-alt);
      opacity: var(--dt-alt-op);
    }
  }
  &:nth-child(3) {
    animation-name: menu-bar-3;
  }
}
.menu__backover {
  @include like-bg-cover;
  position: fixed;
  background: rgba($dark, .5);
  opacity: 0;
  transform: scale(0);
  transition: transform 0s .4s, opacity .3s;
  z-index: 200;
}
:root {
  --menu-py: 0em;
}
.menu {
  position: fixed;
  z-index: 210;
  transition: transform .3s;
  top: 0;
  right: 0;
  height: 100%;
  overflow-y: auto;
  overscroll-behavior: contain;
  padding: 3em 3.5em 4em;
  filter: drop-shadow($shadow);
  transform: translateX(100%);
  font-weight: $font-weight-base;
}
.menu__active {
  overflow: hidden;
  .menu__toggle-bar {
    animation-name: menu-bar-active-2;
    &:nth-child(1) {
      animation-name: menu-bar-active-1;
    }
    &:nth-child(3) {
      animation-name: menu-bar-active-3;
    }
  }
  .menu__backover {
    opacity: 1;
    transform: scale(1);
    transition: transform 0s, opacity .3s;
  }
  .menu {
    transform: translateX(0%);
  }
}
.menu__title {
  margin-top: 1em;
  text-transform: uppercase;
}
.menu__items {
  margin: 0;
  padding: 0;
  list-style: none;
  transition: padding-top .3s;
  line-height: 1.25;
  .menu__link {
    @include link;
    color: inherit;
    display: flex;
    align-items: center;
    gap: .375em;
    padding: .75em 0;
  }
  .menu__items {
    padding-left: 1em;
    > .menu__item {
      width: 100%;
    }
  }
}
.menu__subitems {
  margin: 0;
  padding-left: 1.75em;
  list-style: none;
  background-color: var(--bg-color);
  overflow: hidden;
  overscroll-behavior: contain;
  transform-origin: top left;
  transition: transform .3s, max-height .3s, padding-bottom .3s;
  padding-right: 1em;
  margin-right: -1em;
  z-index: 1;
  &:empty {
    display: none;
  }
}

.menu__item--more {
  margin-top: 1em;
  > .menu__subitems {
    max-height: 0;
  }
  > .menu__link > svg {
    transition: transform .3s;
  }
}
.menu__active .menu__item--more,
.menu__item--more:focus,
.menu__item--more:hover {
  > .menu__subitems {
    transform: none;
    max-height: 200vh;
    padding-bottom: 1em;
  }
}


.menu__item--logo {
  // margin: 2em 0 1em;
  display: none;
}
.menu__logo-image {
  &, img {
    width: 100%;
    height: auto;
    max-width: 13em;
    fill: inherit;
  }
}
.menu__button {
  margin: .5em 0;
  width: 100%;
  word-break: normal;
  // @if $buttons-3d {
  //   transition: background-color, color, filter, transform;
  //   transition-duration: .1s;
  // } @else if $main == $alt {
  //   transition: background-color, color, filter;
  //   transition-duration: .1s;
  // }
}
.menu__item--active {
  > .menu__link {
    background-size: 100% 100%;
  }
  > .menu__button:not(:hover) {
    @include button-active;
    @if $buttons-outline {
      color: var(--base);
    }
  }
}
.menu__link {
  > svg {
    color: var(--main);
    font-size: 1.25em;
    flex-shrink: 0;
    margin: 0.15em 0;
  }
}
