{{- $showup := site.Data.design.performance.showup -}}

{{/*  DATA  */}}
{{- with .data -}}
  <div class="contact__data" {{- if $showup }} data-showup{{ end }}>
    {{- range . -}}

      {{- $full := cond (not .full) "" " contact__full" -}}

      {{- if eq .type "address" | and (not .active) -}}
      {{- else if findRE `^(phone|whatsapp|mail|address|custom)$` .type -}}

        {{- $class    := "" -}}
        {{- $num      := "" -}}
        {{- $link     := .link -}}
        {{- $button   := cond (eq .button "link") "" .button -}}
        {{- $font_alt := .font_alt -}}
        {{- $icon     := .icon -}}
        {{- $emoji    := "" -}}
        {{- $label    := .label -}}
        {{- $noindex  := .ofuscate -}}

        {{- if findRE `^(phone|whatsapp)$` .type -}}
          {{- $num      = partial "functions/phone-to-complete" .label | replaceRE `[^\d]` `` -}}
        {{- else if findRE `^(mail|address)$` .type -}}
          {{- $button   = cond (not .button) "main" $button -}}
          {{- $font_alt = not .font_alt -}}
        {{- end -}}

        {{- if eq .type "custom" -}}
          {{- $class   = (print "callnow__custom" (cond (not .ga4) "" " callnow__custom--ga4")) -}}
        {{- else if eq .type "phone" -}}
          {{- $class   = "contact__phone" -}}
          {{- $link    = print "tel:+" $num -}}
          {{- $icon    = "phone" -}}
          {{- $emoji   = "📞" -}}
          {{- $noindex = true -}}
        {{- else if eq .type "whatsapp" -}}
          {{- $class   = "callnow__whatsapp" -}}
          {{- $link    = print "https://wa.me/" $num -}}
          {{- $button  = cond (not .button) "whatsapp" $button -}}
          {{- $icon    = "whatsapp" -}}
          {{- $emoji   = "✆" -}}
          {{- $noindex = true -}}
        {{- else if eq .type "mail" -}}
          {{- $class   = "contact__email-button" -}}
          {{- $link    = "none" -}}
          {{- $icon    = "envelope" -}}
          {{- $emoji   = "✉" -}}
          {{- $noindex = true -}}
        {{- else if eq .type "address" -}}
          {{- $class   = "contact__address" -}}
          {{- $link    = partial "functions/map-url" . -}}
          {{- $icon    = "location-dot" -}}
          {{- $emoji   = "📍" -}}
          {{- $label   = partial "functions/postal-address" . -}}
          {{- $noindex = true -}}
        {{- end -}}

        {{- if eq .type "mail" -}}
          <div class="contact__email {{ $full }}">
            {{- $full = "" -}}
        {{- end -}}
            {{- partial "components/link" (dict
              "class"     (print $class $full)
              "link"      $link
              "button"    $button
              "font_alt"  $font_alt
              "icon"      $icon
              "emoji"     $emoji
              "label"     $label
              "anchor"    .anchor
              "noindex"   $noindex
            ) -}}
        {{- if eq .type "mail" -}}
            {{ $bg := cond (eq $.section.color "white") "dark" "white" }}
            <div class="contact__email-options shadow bg bg-{{ $bg }}">
              <div class="bg-color"></div>
              {{- range slice
                (dict
                  "class" "copy"
                  "icon"  "paste"
                  "emoji" "📋"
                  "label" "copy-clipboard"
                )
                (dict
                  "class" "send"
                  "icon"  "paper-plane"
                  "emoji" "📨"
                  "label" "send-email"
                )
              -}}
                {{- partial "components/link" (dict
                  "class"     (print "contact__email-option-" .class " button--sm")
                  "link"      "none"
                  "button"    ""
                  "font_alt"  true
                  "icon"      .icon
                  "emoji"     .emoji
                  "label"     (i18n .label)
                  "noindex"   true
                ) -}}
              {{- end -}}
            </div>
          </div>
        {{- end -}}

      {{- else if eq .type "schedule" -}}

        <div class="contact__schedule {{ $full }}">
          {{- with .days -}}
            <div class="contact__schedule-item">
              {{- partial "components/icon" (dict "icon" "calendar" "emoji" "📅") -}}
              <i>{{ . | markdownify }}</i>
            </div>
          {{- end -}}
          {{- with .hours -}}
            <div class="contact__schedule-item">
              {{- partial "components/icon" (dict "icon" "clock" "emoji" "🕓") -}}
              <i>{{ . | markdownify }}</i>
            </div>
          {{- end -}}
        </div>

      {{- else if findRE `^h\d$` .type -}}

        {{- $h := replace .type "h" "" -}}
        <h {{- $h }} class="contact__form-title contact__full">{{ .label | markdownify }}</h {{- $h }}>

      {{- else if eq .type "hr" -}}

        <hr>

      {{- else if eq .type "br" -}}

        <div class="contact__br"></div>

      {{- end -}}

    {{- end -}}
  </div>
{{- end -}}

{{/*  FORM  */}}
{{- if .form -}}
  {{- $form_num := cond (eq .form_num 1) "" (print "_" .form_num) -}}
  {{- $id_form  := replace (print "form_" page.Params.slug `_` .id $form_num) `-` `_` -}}
  <div id="{{ $id_form }}" class="contact__form-wrap" {{- if $showup }} data-showup{{ end }}></div>
{{- end -}}


{{/*  MAP  */}}
{{- if .map.active -}}

  {{ $map_url := slice }}
  {{ range $.section.rows }}
    {{ if eq .type "contact" }}
      {{ range .data }}
        {{ if eq .type "address" }}
          {{ $map_url = $map_url | append . }}
        {{ end }}
      {{ end }}
    {{ end }}
  {{ end }}
  {{ with index $map_url 0 }}
    {{ $map_url = partial "functions/map-url" . }}
  {{ end }}
  {{ $link := .map.link | default $map_url }}

  {{- with $link -}}
    <div class="buttons">
      {{- partial "components/link" (dict
        "class"     "contact__map"
        "link"      .
        "icon"      "location-dot"
        "emoji"     "📍"
        "label"     (i18n "expand-map")
        "noindex"   true
      ) -}}
    </div>
  {{- end -}}

  {{ partial "types/map" (merge . (dict
    "map_url"      $map_url
    "section"      .section
    "container"    .container_size
    "container_bg" .container_bg
  )) }}

{{- end -}}








