{{- $items            := .items | default .images -}}
{{- $id               := print .id "-mas" (cond (not .k) "" (print "-" .k)) -}}
{{- $max_up           := gt (len (uniq $items)) (.max | default 99) -}}
{{- $button_icon      := (cond (eq .icon "none") "" (.icon | default "plus")) -}}
{{- $is_button_expand := .alt | and (.images | or .link) | and (ne .button "hide") -}}
{{- $is_button_more   := $max_up | and (not .alt) -}}
{{- $is_button_custom := .link
  | and (
    (not .alt)
    | or (
      .alt
      | and $max_up
    )
  )
-}}
{{- $is_two_buttons := $is_button_more | or $is_button_custom -}}
{{- $showup         := site.Data.design.performance.showup -}}
<div {{ if .wrap }}class="gallery-wrap shadow bg bg-{{ cond (eq .section.color `white`) `dark` `white` }}"{{ end }} {{- if $showup }} data-showup{{ end }}>
  {{ if .wrap }}
    <div class="bg-color"></div>
  {{- end -}}
  <div class="gallery
    {{- if .alt       }} gallery--alt {{ end -}}
    {{- if .gap       }} gallery--gap {{ end -}}
    {{- with .num     }} gallery--columns-{{ . }} {{ end -}}
    {{- with .cover   }} gallery--size-cover {{ end -}}
    {{- if .grayscale }} gallery--grayscale{{ end -}}
  ">
    {{- $items = first (.max | default 99) (uniq $items) -}}
    {{- range $items -}}
      {{- $image := . -}}
      {{- $link  := "" -}}
      {{- if $.items -}}
        {{- $image = .image -}}
        {{- $link  = .link -}}
      {{- end -}}
      {{- partial "types/gallery-item" (dict
        "image"     $image
        "link"      $link
        "alt"       $.alt
        "lightbox"  (not $.items)
        "num"       ($.num | default 2)
        "container" $.container
      ) -}}
    {{- end -}}
    {{- if $is_button_expand -}}
      {{- partial "components/link" (dict
        "class"     "gallery__expand"
        "link"      (cond
          $max_up
          (print "#" $id)
          .link
        )
        "button"    (.button | default "light")
        "font_alt"  ""
        "icon"      (cond (eq .licon "none") "" (.licon | default "plus"))
        "label"     "none"
        "anchor"    ""
        "noindex"   .ofuscate
      ) -}}
    {{- end -}}
  </div>
</div>
{{- if $is_two_buttons -}}
  <div class="buttons">
    {{- if $is_button_more -}}
      <a class="button" href="#{{ $id }}">
        {{- partial "components/icon" (dict "icon" "plus") -}}
        {{- i18n "more" -}}
      </a>
    {{- end -}}
    {{- if $is_button_custom -}}
      {{- if .link -}}
        {{- partial "components/link" (dict
          "class"    ""
          "link"     .link
          "button"   .button
          "font_alt" .font_alt
          "icon"     .icon
          "label"    .label
          "anchor"   .anchor
          "noindex"  .ofuscate
        ) -}}
      {{- end -}}
    {{- end -}}
  </div>
{{- end -}}