{{- $style_width  := "" -}}
{{- $style_height := "" -}}
{{- if .alt -}}
  {{- $width  := 200 -}}
  {{- $height := 100 -}}
  {{- with .image -}}
    {{- $is_svg := in . ".svg" -}}
    {{- with resources.Get (print "/media/" .) -}}
      {{- if $is_svg -}}
        {{- $svg := (. | minify).Content }}
        {{- $view_box := $svg
          | replaceRE
            `.*viewBox="([\d\.-]+) ([\d\.-]+) ([\d\.-]+) ([\d\.-]+)".*`
            `$1,$2,$3,$4`
        -}}
        {{- $view_box_split := split $view_box "," -}}
        {{- $width  = sub (float (index $view_box_split 2)) (float (index $view_box_split 0)) -}}
        {{- $height = sub (float (index $view_box_split 3)) (float (index $view_box_split 1)) -}}
      {{- else -}}
        {{- $width = .Width -}}
        {{- $height = .Height -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}
  {{- $style_width  = lang.NumFmt 2 (div (mul (div (float $width) (float $height)) (div 600 .num)) 16) -}}
  {{- $style_height = lang.NumFmt 2 (mul (div (float $height) (float $width)) 100) -}}
{{- end -}}

{{- $external := strings.HasPrefix .image "http" -}}
{{- $image    := .image -}}
{{- if not $external -}}
  {{- with resources.Get (print "/media/" .image) -}}
    {{- $image = .RelPermalink -}}
  {{- end -}}
{{- end -}}

{{- if .lightbox -}}
  <div class="gallery__item" data-lightbox="{{ $image }}"
{{- else if .link -}}
  <a class="gallery__item" href="{{ .link }}"
    {{- if $external }} target="_blank" rel="noopener"{{ end }}
    title="{{ .image | replaceRE `\..+$` `` }}"
{{- else -}}
  <div class="gallery__item"
{{- end -}}
  {{- if .alt -}}
    style="--gallery-item-width:{{ $style_width }};--gallery-item-height:{{ $style_height }}%"
  {{- end -}}
  >

  {{- partial "components/image"
    (dict
      "class"     "gallery__image"
      "src"       .image
      "container" $.container
      "span"      $.num
    )
  -}}

{{- if not .lightbox | and .link -}}
  </a>
{{- else -}}
  </div>
{{- end -}}