{{ if .slider }}
  <div class="slider" {{ with .interval }}data-interval="{{ . }}"{{ end }}>
{{ end }}

<div class="reviews {{ if .slider }}slider__track{{ end }}">

  {{/*  REVIEWS CLASS  */}}
  {{- $columns       := .num | default (cond (le (len .items) 6) (len .items) 3) -}}
  {{- $columns        = print "columns--" $columns -}}
  {{- $columns_xs    := cond (not .num_xs) "" "columns--xs" -}}
  {{- $slider_active := cond (not .slider) "" "slider__items" -}}

  {{- $columns_class := delimit (slice
    "columns"
    $columns
    $columns_xs
    $slider_active
    | uniq) " "
  -}}

  {{- $showup := site.Data.design.performance.showup -}}
  {{- $type   := . -}}
  <div class="{{ $columns_class }}" {{- if $showup }} data-showup{{ end }}>
    {{ range .items }}
      {{- with merge $type . -}}

        {{/*  REVIEW ITEM CLASS  */}}
        {{- $bg_color := print
          (cond (not .color) "" (print "bg-" .color))
          (cond (not .image) "" " bg-image")
        -}}
        {{- $bg_gradient_color := "" }}
        {{- $bg_gradient_type := "" }}
        {{- if .gradient -}}
          {{- $bg_gradient_color = print "bg-gradient-" .gradient -}}
          {{- $bg_gradient_type = print "bg-gradient-" (.gradient_type | default "linear-r") -}}
        {{- end -}}
        {{- $bg := cond (not $bg_color) "" "bg" -}}
        {{- $bg_opacity := cond (not (.opacity | and (ne .opacity 100))) "" (print "bg-opacity-" .opacity) }}
        {{- $shadow := cond (not (.color | and (not .hide_shadow))) "" "shadow" -}}

        {{- $review_class := delimit (slice
          "review__globe"
          "column"
          $bg
          $bg_color
          $bg_gradient_color
          $bg_gradient_type
          $bg_opacity
          $shadow
          | uniq) " "
        -}}

        <div class="review">
          <div class="{{ $review_class }}">
            <div class="bg-color"></div>
            {{- partial "components/icon" (dict "class" "review__icon" "icon" "quote-left") -}}
            <blockquote class="review__text">
              <div class="description">
                {{- partial "functions/md" (dict "content" .description "not_header_links" true) -}}
              </div>
            </blockquote>
            {{- partial "components/icon" (dict "class" "review__icon review__icon--right" "icon" "quote-right") -}}
          </div>
          <div class="review__author">
            {{- if .image -}}
              <div class="review__figure">
                <div class="bg-color"></div>
                {{- partial "components/image"
                  (dict
                    "class" "review__figure-image"
                    "src" .image
                    "alt" .title
                    "max" 136
                    "ratio" "1x1"
                  )
                -}}
              </div>
            {{- end -}}
            <div class="review__person">
              <h3 class="review__title h4">{{ .title | markdownify }}</h3>
              <p class="review__subtitle">
                {{- .subtitle
                  | markdownify
                  | default (print
                    (partial "components/icon" (dict "icon" "star-fill"))
                    (partial "components/icon" (dict "icon" "star-fill"))
                    (partial "components/icon" (dict "icon" "star-fill"))
                    (partial "components/icon" (dict "icon" "star-fill"))
                    (partial "components/icon" (dict "icon" "star-fill"))
                  ) | safeHTML
                -}}
              </p>
            </div>
          </div>
        </div>
      {{- end -}}
    {{ end }}
  </div>
</div>

{{ if .slider }}
  {{- partial "components/slider-buttons"
    (dict
      "items" .items
      "hide_bullets" .hide_bullets
      "hide_arrows" .hide_arrows
    )
  -}}
  </div>
{{ end }}