{{- if ne .button "hide" -}}

  {{- $hide_icons := partial "functions/lang-param" (dict "parent" "menu" "param" "hide_icons" "default" false) -}}
  {{- if .lang | or ((or .icon .emoji) | and (not .label)) -}}
    {{- $hide_icons = false -}}
  {{- end -}}
  {{- $icon       := cond $hide_icons "" .icon -}}
  {{- $emoji      := cond $hide_icons "" .emoji -}}
  {{- $label      := .menu | default .label -}}

  {{- if or $label $icon $emoji -}}

    {{- $class := "menu__link" -}}
    {{- with .button -}}
      {{- if ne . "none" -}}
        {{- $class = "menu__button button--sm" -}}
      {{- end -}}
    {{- end -}}
    {{- with .translate -}}
      {{- $class = print $class " menu__link--translate" -}}
    {{- end -}}

    <li class="menu__item
      {{- if eq .link page.RelPermalink }} menu__item--active{{ end -}}
      {{- if .more }} menu__item--more{{ end -}}
      {{- if .lang  }} menu__item--lang{{ end -}}
      "
      {{- with .lang  }} lang="{{ . }}"  {{- end -}}
      {{- with .title }} title="{{ . }}" {{- end -}}
      {{- if $.more   }} tabindex="-1"   {{- end -}}
    >

      {{ partial "components/link" (dict
        "class"    $class
        "link"     .link
        "button"   (.button | default "none")
        "font_alt" .font_alt
        "icon"     $icon
        "emoji"    $emoji
        "label"    $label
        "anchor"   .anchor
        "noindex"  .ofuscate
      ) }}

      {{- with .items -}}
        {{- $sub := (add ($.sub | default 0) 1) -}}
        <ul class="menu__{{ cond (eq $sub 0) `` `sub` }}items">
          {{- range . -}}
            {{- partial "sections/common/menu/item" (merge . (dict "sub"  $sub)) -}}
          {{- end -}}
        </ul>
      {{- end -}}
      
    </li>

  {{- end -}}

{{- end -}}