{{ $isTerm    := in (slice "authors" "categories" "tags") .Type }}
{{ $isPost    := not .IsSection | and (eq .Type "blog") }}
{{ $isEvent   := not .IsSection | and (eq .Type "events") }}
{{ $isProduct := not .IsSection | and (eq .Type "products") }}

<article class="article {{ with site.Data.articles.content.align }}align-{{ . }}{{ end }}">

  <header class="article__header">
    <div class="container container--sm">

      {{ if $isProduct }}
        {{ partial "sections/product/header" . }}
      {{ else }}
        {{ partial "sections/article/header" . }}
      {{ end }}

    </div>
  </header>

  {{ partial "sections/article/toc" . }}

  {{ with .Content }}
    <section class="content">
      <div class="container container--sm">
        {{ partial "functions/md" (dict "content" . "article" true) }}
        {{ if $isEvent }}
          {{ partial "components/event-location" page }}
        {{ end }}
      </div>
    </section>
  {{ end }}

</article>

{{ if $isTerm | or .IsSection | or .IsHome }}
  <section class="article__list rows">
    {{ partial "sections/article/summaries" (dict "related" false) }}
  </section>
{{ end }}

{{ if $isPost | or ((not .IsSection) | and .Content) }}
  <aside>
    <div class="container container--sm">
      {{ if $isPost }}
        {{ partial "sections/blog/author-box" . }}
        {{ partial "sections/blog/comments" . }}
      {{ end }}
      {{ if (not .IsSection) | and .Content }}
        {{ partial "components/social-share" . }}
      {{ end }}
    </div>
  </aside>
{{ end }}

{{ if $isPost | or $isProduct | or $isEvent }}
  <aside class="related">
    {{ partial "sections/article/summaries" (dict "related" true) }}
  </aside>
{{ end }}
