/*! purgecss start ignore */

// FIX TEXT EDITOR CURSOR JUMP TO END

#nc-root {
  [data-slate-editor] {
    -webkit-user-modify: read-write !important;
  }
}

// RESPONSIVE

#nc-root {
  [class*="CustomIconWrapper"] {
    width: initial;
    height: initial;
    margin-top: initial;
  }
  [class*="CustomIconWrapper"] img {
    width: auto;
    height: auto;
    min-width: 200px;
    max-width: 300px;
    max-height: 300px;
  }
  [class*="LoginButton"] {
    margin-top: 16px;
    text-indent: -9999em;
    &:after {
      content: '{{ . }}';
      text-indent: 0;
    }
  }
  [class*="NetlifyCreditIcon"] {
    display: none;
  }
  [class*="PaginationMessage"] {
    max-width: 100%;
  }
  [class*="SidebarContainer"] {
    max-height: calc(100vh - 148px);
  }
  [class*="ControlPaneContainer"] {
    padding-bottom: 52px;
  }
  [class*="ControlHint"] > a {
    color: #3a69c7 !important;
    font-size: inherit;
    text-decoration: underline;
  }
  [class*="menu"] > div > div > div {
    position: static !important;
    height: auto !important;
  }
  [class*="DropdownList"] {
    width: auto;
  }
  [class*="TopBarContainer"] {
    flex-wrap: wrap;
  }
}
@media (max-width: 799px) {
  #nc-root {
    header {
      position: initial;
      height: initial;
    }
    [class*="AppHeaderContent"] {
      min-width: initial;
      flex-wrap: wrap;
      > nav {
        display: flex;
      }
    }
    [class*="AppHeaderNavList"] {
      flex-wrap: wrap;
      > li {
        display: flex;
        > a,
        > button {
          padding: 8px 10px;
        }
      }
    }
    [class*="GridCard-card"] {
      flex-basis: initial;
      width: calc(100% - 12px);
      max-width: 335px;
    }
    [class*="AppHeaderActions"] {
      margin-left: auto;
      flex-wrap: wrap;
      justify-content: flex-end;
    }
    [class*="AppHeaderActions"] {
      [class*="AppHeaderQuickNewButton"] {
        width: max-content;
      }
      [class*="AppHeaderSiteLink"] {
        padding: 5px 8px;
      }
      [class*="AvatarDropdownButton"] {
        padding: 4px;
      }
    }
    [class*="AppMainContainer"] {
      min-width: initial;
    }
    [class*="EditorContainer"] {
      min-width: initial;
      position: initial;
      padding-top: 16px;
    }
    [class*="ToolbarContainer"] {
      min-width: initial;
      position: initial;
      height: initial;
      display: block;
      margin-bottom: 16px;
      padding-bottom: 1px;
    }
    [class*="ToolbarSectionBackLink"] {
      padding-top: 10px;
      padding-bottom: 10px;
    }
    [class*="ToolbarSectionMain"] {
      margin: .5em 0;
      flex-wrap: wrap;
      gap: .5em;
    }
    [class*="ToolbarSubSectionFirst"] {
      flex-wrap: wrap;
      gap: .5em;
      > * {
        margin: 0;
      }
    }
    [class*="ToolbarSubSectionLast"]:empty {
      display: none;
    }
    [class*="PreviewButtonContainer"] {
      padding: 9.5px;
    }
    [class*="ToolbarSectionMeta"] {
      display: none;
    }
    [class*="WorkflowContainer"] {
      height: inherit;
      padding-bottom: 52px;
    }
    [class*="WorkflowTopRow"] {
      flex-wrap: wrap;
      gap: 0.5em;
    }
    [class*="WorkflowListContainer"] {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      > * {
        flex-grow: 1;
      }
    }
    [class*="column-WorkflowList"] {
      margin: 0 0 40px;
      &:before,
      &:after {
        content: initial;
      }
    }
    [class*="SidebarContainer"] {
      position: initial;
      /* width: initial; */
      max-height: initial;
    }
    [class*="CollectionMain"] {
      padding-left: initial;
      margin: 16px 0 64px;
    }
    [class*="CollectionTopRow"] {
      flex-wrap: wrap;
      gap: 16px;
    }
    [class*="CollectionControlsContainer"] {
      flex-wrap: wrap;
      justify-content: flex-end;
    }
    [class*="CollectionTopContainer-card"],
    [class*="CollectionControlsContainer"] {
      width: initial;
    }
    [class*="ListCard-card"] {
      width: 100%;
    }
  }
  .ReactModalPortal {
    [class*="StyledModal"] {
      width: 620px;
    }
  }
}
@media (max-width: 650px) {
  .ReactModalPortal {
    [class*="StyledModal"] {
      width: 320px;
      height: calc(100% - 56px);
      grid-template-rows: auto 1fr;
    }
    [class*="LibraryTop"] {
      gap: .5em;
      margin-bottom: .5em;
    }
    [class*="RowContainer"] {
      flex-wrap: wrap;
      gap: .5em;
    }
    [class*="ButtonsContainer"] {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      gap: .5em;
    }
    [class*="ButtonsContainer"] > * {
      margin: 0;
    }
    [class*="LibraryTitle"] {
      margin-bottom: initial;
    }
    [class*="SearchContainer"] {
      width: 280px;
      margin-right: 16px;
    }
    [class*="CardGridContainer"] > div > div {
      width: 100%;
    }
  }
}

// CHANGE WIDGETS IMAGE TO FILE

[class*="FileLinks"][style] {
  position: relative;
  &:before,
  &:after {
    content: '';
    display: block;
    width: 155px;
    height: 89px;
    margin-right: 20px;
    margin-bottom: 20px;
    border: 2px solid var(--widgets-border-color, rgb(223, 223, 227));
    border-radius: 5px;
    background-color: var(--checkerboard-bg-color, rgb(242, 242, 242));
    background-size: 16px 16px;
    background-position: 0px 0px, 8px 8px;
    --aux: var(--checkerboard-dark-color, rgb(230, 230, 230));
    background-image: linear-gradient(45deg, var(--aux) 25%, transparent 25%, transparent 75%, var(--aux) 75%, var(--aux)), linear-gradient(45deg, var(--aux) 25%, transparent 25%, transparent 75%, var(--aux) 75%, var(--aux));
    cursor: auto;
  }
  &:after {
    position: absolute;
    top: 0;
    box-shadow: rgba(68, 74, 87, 0.3) 0px 0px 4px inset;
    background-color: transparent;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: var(--image);
  }
}
[class*="CardImage"],
[class*="GridCardLink"]:after {
  content: '';
  display: block;
  background-image: var(--image);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 150px;
  // height: 125px;
  // width: 222px;
  // margin: 0 auto;
}


// SANSOUL

#nc-root {
  [class*="SidebarNavLink"] {
    margin-bottom: 1px;
    &:first-letter {
      font-size: 1.05em;
      margin-right: 4px;
    }
    [class*="IconWrapper"] {
      display: none;
    }
  }
  [class*="ListCardLink"][href^="#/collections/config/entries/"] {
    [class*="ListCardTitle"]:first-letter {
      font-size: 1.5em;
      margin-right: 8px;
      vertical-align: middle;
    }
  }
  label[class*="FieldLabel-fieldLabel"] {
    ~ [class*="TopBar-StyledListItemTopBar-StyledListItemTopBar"] {
      border-top-left-radius: 0;
    }
  }
}


// LISTS

:root {
  --list-text-shadow: none;
  --list-text:        inherit;
  --color-brown:      rgba(238, 224, 218, 1);
  --color-orange:     rgba(250, 222, 201, 1);
  --color-yellow:     rgba(253, 236, 200, 1);
  --color-green:      rgba(219, 237, 219, 1);
  --color-blue:       rgba(211, 229, 239, 1);
  --color-purple:     rgba(232, 222, 238, 1);
  --color-pink:       rgba(245, 224, 233, 1);
  --color-red:        rgba(255, 226, 221, 1);
  --color-grey:       rgba(227, 226, 224, 1);
}
@media (prefers-color-scheme:dark) {
  :root {
    --list-text-shadow: 0px 1px 5px #080c13;
    --list-text:        rgba(255, 255, 255, 0.8);
    --color-brown:      rgba(96, 59, 44, 1);
    --color-orange:     rgba(133, 76, 29, 1);
    --color-yellow:     rgba(137, 99, 42, 1);
    --color-green:      rgba(43, 89, 63, 1);
    --color-blue:       rgba(40, 69, 108, 1);
    --color-purple:     rgba(73, 47, 100, 1);
    --color-pink:       rgba(105, 49, 76, 1);
    --color-red:        rgba(110, 54, 48, 1);
    --color-grey:       rgba(90, 90, 90, 1);
  }
  // Corrects various dark elements
  #nc-root {
    [class*=ListItem-listControlItem-listControlItemCollapsed-ListControl] {
      border: none;
      border-radius: 0;
    }
  }
}

#nc-root {
  // Lists Item with diferent colors
  [class*="ListItem-listControlItem-"] {
    &:nth-child(1n) { --list-color: var(--color-brown); }
    &:nth-child(2n) { --list-color: var(--color-orange); }
    &:nth-child(3n) { --list-color: var(--color-yellow); }
    &:nth-child(4n) { --list-color: var(--color-green); }
    &:nth-child(5n) { --list-color: var(--color-blue); }
    &:nth-child(6n) { --list-color: var(--color-purple); }
    &:nth-child(7n) { --list-color: var(--color-pink); }
    &:nth-child(8n) { --list-color: var(--color-red); }
    &:nth-child(9n) { --list-color: var(--color-grey); }
    > :is(:last-child,:nth-last-child(2)) {
      background-color: var(--list-color);
      border-top-right-radius: 0;
      > div > div > [class*="ControlHint"] {
        color: var(--list-text);
        @media (prefers-color-scheme:dark) {
          a {
            color: #fff !important;
            // text-shadow: var(--list-text-shadow); */ */
          }
        }
      }
      [class*="FieldLabel-fieldLabel"] {
        &:before,
        &:after {
          content: none;
        }
      }
    }
  }
  // List button oppen full width and height
  //// before open item
  [class*=ListItem-listControlItem-listControlItemCollapsed-ListControl] {
    position: relative;
    > [class*="TopBar-StyledListItemTopBar-StyledListItemTopBar"] {
      position: static;
    }
    > [class*="TopBar"] > button[class*="TopBarButton"]:first-child {
      &:before {
        content: '';
        position: absolute;
        top: 26px;
        left: 0;
        width: 100%;
        height: calc(100% - 26px);
      }
    }
  }
  // Open list item like modal
  //// after open item
  [class*="ListItem-listControlItem-ListControl"] {
    position: fixed;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden auto;
    overscroll-behavior: contain;
    border-radius: 0;
    z-index: 300;
    // Label and Summary
    > label,
    > [class*="NestedObjectLabel"] {
      position: relative;
      width: 100%;
      font-size: 1.25em;
      padding: 0.5em;
      padding-inline: 2.5em;
      text-align: center;
      display: grid;
      place-content: center;
      background-color: var(--topbar-bg-color, #efefef);
      border-radius: 0;
      z-index: 1;
      &:before,
      &:after {
        content: none;
      }
    }
    > [class*="NestedObjectLabel"] {
      margin-top: -26px;
    }
    > label {
      ~ [class*="NestedObjectLabel"] {
        background-color: var(--widgets-bg-color, #dfdfe3);
      }
      &:before,
      &:after {
        content: none;
      }
    }
    // Toggle button
    &:not(:has([class*="ListItem-listControlItem-ListControl"])) { // If last
      > [class*="TopBar"] > button[class*="TopBarButton"]:first-child {
        position: absolute;
        top: 0.15em;
        left: 0.15em;
        width: 1.25em;
        height: 1.25em;
        font-size: 2em;
        font-weight: 900;
        display: grid;
        place-content: center;
        z-index: 2;
        background-color: var(--widgets-label-bg-color, #fff);
        border-radius: 50%;
        border: 1px solid var(--btn-gray-default-border);
        color: var(--primary-text-color, rgb(68, 74, 87));
        &:after {
          content: '←';
        }
        > span {
          display: none;
        }
      }
    }
    // Item wrap
    > :last-child {
      padding-block: 52px;
      border-radius: 0;
      min-height: calc(100% - 47px);
      &:is(label ~ *) {
        min-height: calc(100% - 94px);
      }
      > div {
        max-width: 800px;
        margin-inline: auto;
        @media (prefers-color-scheme:light) {
           > * > :not(p) {
            box-shadow: 0 0 12px rgba(0,0,0,.125);
          }
        }
      }
    }
    // First all window, children bottom of header/labels
    // [class*="ListItem-listControlItem-ListControl"] {
    //   position: absolute;
    //   overflow: hidden;
    // }
    // > :last-child {
    //   position: relative;
    //   > div > [class*="ControlContainer"] > [id*="-field-"] {
    //     position: static;
    //   }
    // }
  }
}

/*! purgecss end ignore */