.columns {
  display: flex;
  // gap fluid
  --size-min: var(--min-columns-gap);
  --size-max: var(--columns-gap);
  --gap-columns: var(--fluid-size);
  gap: var(--gap-columns);
  margin-block: calc(var(--gap-columns) * .5);
  // changing variables
  --columns: 1;
  --columns-gap: 2;
  --min-container-inner: 288;
  --min-columns-gap: var(--columns-gap);
  --min-column-width: var(--min-container-inner);
  // fixed variables
  --max-container-paddings: calc(var(--num-container-paddings) * 18);
  --max-container-inner: calc(var(--max-container-width) - var(--max-container-paddings));
  --max-columns-gap: calc((var(--columns) - 1) * var(--columns-gap) * 18);
  --max-columns-width: calc(var(--max-container-inner) - var(--max-columns-gap));
  --max-column-width: calc(var(--max-columns-width) / var(--columns));
  // to column-width
  --min-column-w: calc(min(var(--min-column-width), var(--max-column-width)) * 1px);
  --max-column-w: calc(max(var(--min-column-width), var(--max-column-width)) * 1px);
  --preferred-column-w: calc(
    (var(--min-column-width) * 1px)
    + (var(--max-column-width) - var(--min-column-width))
      * ((100vw - #{ $screen-min }) / #{ ($screen-max - $screen-min) / 1px })
  );
  --column-w: clamp(var(--min-column-w), var(--preferred-column-w), var(--max-column-w));
  // end, column-w it will be used for column--span-*
  --column-width: var(--column-w);
  --column-padding: #{ fluid-size(16px, 36px) };
  --column-inner: calc(var(--column-width) - var(--column-padding) * 2);
  > * {
    width: var(--column-width);
  }
  &:not([class*="justify"]) {
    justify-content: center;
  }
  &:not(.slider__items) {
    flex-wrap: wrap;
    > * {
      flex-shrink: 1;
    }
  }
}
.columns--xs {
  --min-columns-gap: min(var(--columns-gap), 1);
  --min-column-width: calc((var(--min-container-inner) - min(var(--columns-gap) * 16, 16)) / 2);
}
.container.bg {
  .columns {
    --min-container-inner: 256;
  }
}
.columns--2 {  --columns: 2; }
.columns--3 {  --columns: 3; }
.columns--4 {  --columns: 4; }
.columns--5 {  --columns: 5; }
.columns--6 {  --columns: 6; }
.columns--7 {  --columns: 7; }
.columns--8 {  --columns: 8; }
.columns--9 {  --columns: 9; }
.columns--10 { --columns: 10; }
.columns--11 { --columns: 11; }
.columns--12 { --columns: 12; }
.columns--3,
.columns--4,
.columns--5,
.columns--6,
.columns--7,
.columns--8,
.columns--9,
.columns--10,
.columns--11,
.columns--12,
.container--xs .columns,
.container--sm .columns {
    --column-padding: 1em;
    --columns-gap: 1;
}
.section--full-screen.section--paddings-hide .columns--gap-0 {
  min-height: var(--full-screen, 100vh);
}