.slider {
  position: relative;
}
.slider__track {
  scroll-snap-type: x mandatory;
  overflow-x: auto;
  overflow-y: hidden;
  margin: -.5em;
  padding: .5em;
  scrollbar-width: none; /* Remove scrollbar in Firefox */
  &::-webkit-scrollbar { /* Remove scrollbar in WebKit */
    display: none;
  }
}

.slider__items {
  display: flex;
  flex-wrap: nowrap;
  width: fit-content;
  margin: 0 auto;
  > * {
    flex-shrink: 0;
    scroll-snap-align: center;
  }
  // Hack to view right shadow in the last item only if there are more that one
  // &:not(.columns) {
    // > *:nth-last-child(2) + * {
    //   margin-right: .5em;
    // }
  // }
  // &:after {
  //   content: '';
  //   margin-left: -.5em;
  //   // flex-shrink: 0;
  //   // width: .1px;
  // }
}
.slider__bullets {
  display: flex;
  justify-content: center;
  gap: 0 .375em;
  margin-top: 1em;
  flex-wrap: wrap;
  &.slider__bullets--hide {
    display: none;
  }
}
.slider__bullet {
  box-sizing: content-box;
  min-width: 2em;
  min-height: initial;
  height: .1875em;
  padding: 0;
  background-clip: padding-box;
  border: 0;
  border-block: 1em solid transparent;
  border-radius: 0;
  transform: none;
  filter: none;
  transition: background-color .1s;
  background-color: var(--active);
  &:before,
  &:after {
    content: none;
  }
  &--active,
  &:hover {
    background-color: var(--alt);
  }
  &:focus {
    background-color: var(--main);
  }
  &:hover,
  &:focus,
  &:active {
    filter: none;
    transform: none;
  }
}
.slider__arrows {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1em;
  margin-top: 1em;
  &.slider__arrows--hide {
    display: none;
  }
}