{{- $sectioned   := eq .Type "page" | and (ne .Kind "404") -}}
{{- $menu        := merge site.Data.menu (.Params.menu | default dict) -}}
{{- $logo        := $menu.logo | default site.Data.articles.content.logo -}}
{{- $bg          := "" -}}
{{- $container   := "sm" -}}
{{- if not $menu.hide | and ((and (not $sectioned) $menu.articles_sticky) | or (and $sectioned $menu.logo)) -}}
  {{- $bg          = $menu.color -}}
  {{- $container   = $menu.size_sticky | default "lg" -}}
{{- else -}}
  {{- with partial "functions/sections" . -}}
    {{- with index . 0 -}}
      {{- with .color -}}
        {{- $bg = . -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{ with site -}}
  <aside class="logo {{- with $bg }} bg-{{ . }}{{ end }}">
    <div class="container container--{{ $container }}">
      <div class="logo__link" data-h="{{ `/` | base64Encode }}">
        {{- with $logo -}}
          {{- partial "components/image"
            (dict
              "svg_src"   true
              "class"     "logo__image"
              "src"       .
              "alt"       (print "Logo " (partial "functions/lang-param" (dict "parent" "config" "param" "title")))
              "container" $container
              "span"      6
              "notlazy"   true
            )
          -}}
        {{- end -}}
        {{- with .Data.articles.content -}}
          {{ if .title | or .subtitle }}
            <div class="logo__titles">
              {{- with .title -}}
                <i class="logo__title h1">{{ . }}</i>
              {{- end -}}
              {{- with .subtitle -}}
                <i class="logo__subtitle">{{ . }}</i>
              {{- end -}}
            </div>
          {{- end -}}
        {{- end -}}
      </div>
    </div>
  </aside>
{{ end }}