.columns--grow > * {
  flex-grow: 1;
}
.columns--group-radius {
  overflow: hidden;
  @include radius(var(--column-padding));
}
.columns--some-bottomless {
  row-gap: Max(var(--gap-columns), 2em);
}
.columns--gap-0 { --columns-gap: 0; }
.columns--gap-1 { --columns-gap: 1; }
.columns--gap-2 { --columns-gap: 2; }
.columns--gap-3 { --columns-gap: 3; }
.columns--gap-4 { --columns-gap: 4; }
.columns--gap-5 { --columns-gap: 5; }
.column {
  --box-padding: var(--column-padding);
  --box-width:   var(--column-width);
  --box-inner:   var(--column-inner);
  position: relative;
  max-width: 100%;
  &.bg {
    @include bg-cover(var(--column-padding));
  }
}
.column:not(.bg) { --column-padding: 0em; }
.column.column--padding-0 { --column-padding: 0em; }
.column.column--padding-1 { --column-padding: 1em; }
.column.column--padding-2 { --column-padding: 2em; }
.column.column--padding-3 { --column-padding: 3em; }
.column.column--padding-4 { --column-padding: 4em; }
.column.column--padding-5 { --column-padding: 5em; }
.column.column--padding-6 { --column-padding: 6em; }
.column--span-2 {  --column-wn:  2; }
.column--span-3 {  --column-wn:  3; }
.column--span-4 {  --column-wn:  4; }
.column--span-5 {  --column-wn:  5; }
.column--span-6 {  --column-wn:  6; }
.column--span-7 {  --column-wn:  7; }
.column--span-8 {  --column-wn:  8; }
.column--span-9 {  --column-wn:  9; }
.column--span-10 { --column-wn: 10; }
.column--span-11 { --column-wn: 11; }
.column--span-12 { --column-wn: 12; }
.column--span- {
  &2, &3, &4, &5, &6, &7, &8, &9, &10, &11, &12 {
    // --min-column-width: 288;
    // --max-column-width: calc((var(--columns-width) / var(--columns)) * var(--column-wn) + var(--max-columns-gap) * (var(--column-wn) - 1));
    --column-width: calc(var(--column-w) * var(--column-wn) + (var(--columns-gap) * 1em) * (var(--column-wn) - 1));
  }
}
@if $radius > 0.01 {
  .column--hide-radius {
    .bg-color,
    .bg-figure {
      @include hide-radius;
    }
    .image--inset {
      &, & .image__inner {
        --image-inset-radius: 0;
      }
    }
  }
  .column.bg--radius-min:not(.aux) {
    .bg-color,
    .bg-figure,
    &.column--card .column__content,
    .image,
    .image__inner {
      --radius-padding: 0em;
    }
  }
}
.column__content {
  position: relative;
  height: 100%;
  padding: var(--column-padding);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  z-index: 2;
  > .shadow {
    width: 100%;
  }
}
.section--paddings-hide .columns--gap-0.slider__items .column__content {
  padding: 3.2em 5em;
}
.align-left {
  > .column__content {
    align-items: flex-start;
  }
}
.align-right {
  > .column__content {
    align-items: flex-end;
  }
}
.column--only-bg {
  &:not(.aux){
    min-height: calc(var(--column-width) * 0.5625); // 16x9
  }
  @if $radius {
    .bg-figure {
      --radius-padding: 0em;
    }
  }
}
:root {                    --column-header-size: 1; }
.column__header--size-1 {  --column-header-size: .1; }
.column__header--size-2 {  --column-header-size: .2; }
.column__header--size-3 {  --column-header-size: .3; }
.column__header--size-4 {  --column-header-size: .4; }
.column__header--size-5 {  --column-header-size: .5; }
.column__header--size-6 {  --column-header-size: .6; }
.column__header--size-7 {  --column-header-size: .7; }
.column__header--size-8 {  --column-header-size: .8; }
.column__header--size-9 {  --column-header-size: .9; }
.column__header--size-10 { --column-header-size: 1; }
.column__header--size-11 { --column-header-size: 1.1; }
.column__header--size-12 { --column-header-size: 1.2; }
.column__header--size-13 { --column-header-size: 1.3; }
.column__header--size-14 { --column-header-size: 1.4; }
.column__header--size-15 { --column-header-size: 1.5; }
.column__header--size-16 { --column-header-size: 1.6; }
.column__header--size-17 { --column-header-size: 1.7; }
.column__header--size-18 { --column-header-size: 1.8; }
.column__header--size-19 { --column-header-size: 1.9; }
.column__header--size-20 { --column-header-size: 2; }
.column__header {
  &:not(.column__header--link) {
    font-size: Min(calc(var(--column-width) * var(--column-header-size) * 6.67 / 100), 1em);
  }
  .section__title  {
    text-transform: none;
  }
  // &:nth-last-child(2),
  &:last-child {
    margin: auto 0;
  }
}
.column__description {
  margin: auto 0;
  width: 100%;
  // em {
  //   @include font-base;
  // }
  strong,
  em {
    // display: inline-block;
    font-size: 1em;
    color: inherit;
  }
}
.column__description--small {
  font-size: .75em;
  margin-top: 0;
}
@media (min-width: $screen-xl) {
  .align--xl-left {
    > .column__content {
      align-items: flex-start;
    }
  }
  .align--xl-right {
    > .column__content {
      align-items: flex-end;
    }
  }
}
.column__button {
  margin-top: auto;
  &:not(.button, button) {
    display: flex;
    justify-content: center;
    gap: .25em;
    svg {
      color: var(--main);
    }
  }
}
.column.pill-bottom .column__button {
  width: 100%;
  height: calc(var(--box-inner, 100%) / 2 + 1.25em);
  padding-bottom: 2.5em;
  --radius-bottom: calc(var(--box-inner, 100%) / 2);
}
.column {
  &.bg {
    .column__button {
      width: 100%;
    }
  }
}
.column {
  &[data-b],
  &[data-h] {
    &.bg {
      .image {
        overflow: hidden;
      }
    }
    .image__inner {
      transition: transform .3s;
    }
    &.shadow {
      transition: filter .1s, transform .1s;
      @if $buttons-3d {
        transform: translateY(-.25em);
        &.column--button-hide {
          > .bg-color--3d {
            transform: translateY(.25em);
            @include like-bg-cover;
            content: '';
            transition: background-color .1s, transform .1s;
            background-color: var(--link);
            z-index: -2;
          }
        }
        // @if $chamfer {
        //   filter: drop-shadow($shadow);
        // } @else {
        //   &.column--button-hide {
        //     > .bg-color--3d {
        //       box-shadow: $shadow;
        //     }
        //   }
        // }
      } @else {
        filter: drop-shadow($shadow);
        transform: translateY(-$shadow-top);
      }
    }
    &:hover,
    &:focus {
      @include column-hover;
    }
    &:active {
      @include column-active;
    }
    &:hover,
    &:focus {
      .image__inner:not(.image__inner--hover) {
        transform: scale(1.2) rotate(2deg);
      }
    }
    &:nth-child(2n) {
      &:hover,
      &:focus {
        .image__inner:not(.image__inner--hover) {
          transform: scale(1.2) rotate(-2deg);
        }
      }
    }
  }
  .image--hover {
    .image__inner:not(.image__inner--hover) {
      transition: transform .3s, opacity .3s;
    }
    .image__inner--hover {
      position: absolute;
      opacity: 0;
      transition: opacity .3s;
    }
    &.image--border {
      .image__inner--hover {
        margin: 0;
        max-width: inherit;
        max-height: inherit;
      }
    }
  }
  &:hover,
  &:focus {
    .image--hover {
      .image__inner:not(.image__inner--hover) {
        opacity: 0;
      }
      .image__inner--hover {
        opacity: 1;
      }
    }
  }
  &:not(#aux) {
    .image--grayscale {
      .image__inner {
        filter: grayscale(1);
        transition: filter .3s;
      }
    }
    &:hover,
    &:focus,
    &:active {
      .image--grayscale {
        .image__inner {
          filter: none;
          transform: none;
        }
      }
    }
  }
}
.column__data {
  margin: auto 0 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: .5em 1em;
}
.column.bg {
  .content__figure {
    filter: none;
  }
}
.column--button-hide {
  .column__button {
    display: none;
  }
}
.column--card {
  display: flex;
  flex-direction: column;
  min-height: calc(var(--column-w) * 1.425);
  .column__content {
    height: auto;
    margin-top: auto;
    padding-top: calc(var(--column-padding) * 2);
    background-image: linear-gradient(to top, $black, rgba($black, .5) calc(100% - var(--column-padding) * 2), transparent);
    --radius-top: 0em;
    @include radius(var(--radius-bg));
    min-height: var(--radius-bottom);
  }
  .column__link {
    --link: #{ $white };
  }
  &.pill-bottom.column--button-hide {
    .column__content {
      padding-bottom: calc(var(--radius-bottom) - var(--column-padding) / 2);
    }
  }
}